.CommonPage-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(0, 49, 69);
  padding-bottom: 2rem;
}

.CommonPage-main-first {
  padding-top: 2rem;
  padding-left: 2rem;
  font-family: "Poppins";
  font-style: normal;
  color: #fff;
}

.CommonPage-main-first > h1 {
  width: 630px;
  font-weight: 600;
  font-size: 44px;
  line-height: 56px;
  padding-bottom: 2rem;
}

.CommonPage-main-first > h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  width: 531px;
  padding-bottom: 4rem;
  text-align: justify;
}

.CommonPage-main-first-btn {
  width: 198px;
  height: 47px;
  background: #ffffff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #003145;
  cursor: pointer;
  border-color: transparent;
}

@media screen and (max-width: 480px) {
  .CommonPage-main-first {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .CommonPage-main-first > h1 {
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    padding-bottom: 2rem;
  }

  .CommonPage-main-first > h3 {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 3rem;
    text-align: justify;
  }

  .CommonPage-main-second > img {
    width: 100vw;
  }

  .CommonPage-main-first-btn {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .CommonPage-main {
    height: 78vh;
  }

  .CommonPage-main-first {
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 100%;
  }

  .CommonPage-main-first > h1 {
    width: 100%;
    font-weight: 600;
    font-size: 38px;
    line-height: 48px;
    padding-bottom: 0rem;
  }

  .CommonPage-main-first > h3 {
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    padding-bottom: 4rem;
    text-align: justify;
  }

  .CommonPage-main-first-btn {
    width: 222px;
    height: 70px;
    font-size: 24px;
  }

  /* .CommonPage-main-first > img {
      position: absolute;
      width: 350px;
      height: 354px;
      left: 195px;
      top: 530px;
    }  */
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .CommonPage-main {
    height: 78vh;
  }

  .CommonPage-main-first {
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 100%;
  }

  .CommonPage-main-first > h1 {
    width: 100%;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    padding-bottom: 0rem;
  }

  .CommonPage-main-first > h3 {
    width: 100%;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 3rem;
    text-align: justify;
  }

  .CommonPage-main-first-btn {
    width: 222px;
    height: 70px;
    font-size: 24px;
  }

  /* .CommonPage-main-first > img {
      position: absolute;
      width: 380px;
      height: 384px;
      left: 550px;
      top: 500px;
    }  */
}
