.CommonPage-main {
    margin: 0;
    padding: 0;
    height: 78vh;
  }
  
  .CommonPage-main-first {
    padding-top: 2rem;
    padding-left: 6rem;
    background-color: rgb(0, 49, 69);
    font-family: "Poppins";
    font-style: normal;
    color: #fff;
    height: 100%;
  }
  
  .CommonPage-main-first > h1 {
    width: 630px;
    height: 112px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 1rem;
  }
  
  .CommonPage-main-first > h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    width: 531px;
    height: 112px;
    padding-bottom: 2rem;
  }
  
  .CommonPage-main-first-btn {
    width: 198px;
    height: 47px;
    background: #ffffff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #003145;
    cursor: pointer;
    border-color: transparent;
  }
  
  .CommonPage-main-first > img {
    position: absolute;
    width: 400px;
    height: 394px;
    left: 800px;
    top: 120px;
  }

  @media screen and (max-width: 480px) {
    .CommonPage-main {
      height: 78vh;
    }
    
    .CommonPage-main-first {
      padding-top: 1rem;
      padding-left: 2rem;
      padding-right: 3rem;
      height: 100%;
    }
    
    .CommonPage-main-first > h1 {
      width: 100%;
      font-weight: 600;
      font-size: 30px;
      line-height: 48px;
      padding-bottom: 0rem;
    }
    
    .CommonPage-main-first > h3 {
      width: 100%;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      padding-bottom: 4rem;
      text-align: justify;
    }
    
    .CommonPage-main-first > img {
      position: absolute;
      width: 350px;
      height: 354px;
      left: 55px;
      top: 530px;
    } 
  }

  @media only screen and (max-width: 768px) and (min-width: 481px){
    .CommonPage-main {
      height: 78vh;
    }
    
    .CommonPage-main-first {
      padding-top: 1rem;
      padding-left: 3rem;
      padding-right: 3rem;
      height: 100%;
    }
    
    .CommonPage-main-first > h1 {
      width: 100%;
      font-weight: 600;
      font-size: 38px;
      line-height: 48px;
      padding-bottom: 0rem;
    }
    
    .CommonPage-main-first > h3 {
      width: 100%;
      font-weight: 500;
      font-size: 24px;
      line-height: 35px;
      padding-bottom: 4rem;
      text-align: justify;
    }
    
    .CommonPage-main-first-btn {
      width: 222px;
      height: 70px;
      font-size: 24px;
    }
    
    .CommonPage-main-first > img {
      position: absolute;
      width: 350px;
      height: 354px;
      left: 195px;
      top: 530px;
    } 
  }

  @media only screen and (max-width: 1024px) and (min-width: 769px){
    .CommonPage-main {
      height: 78vh;
    }
    
    .CommonPage-main-first {
      padding-top: 1rem;
      padding-left: 3rem;
      padding-right: 3rem;
      height: 100%;
    }
    
    .CommonPage-main-first > h1 {
      width: 100%;
      font-weight: 600;
      font-size: 45px;
      line-height: 55px;
      padding-bottom: 0rem;
    }
    
    .CommonPage-main-first > h3 {
      width: 100%;
      font-weight: 500;
      font-size: 25px;
      line-height: 35px;
      padding-bottom: 3rem;
      text-align: justify;
    }
    
    .CommonPage-main-first-btn {
      width: 222px;
      height: 70px;
      font-size: 24px;
    }
    
    .CommonPage-main-first > img {
      position: absolute;
      width: 380px;
      height: 384px;
      left: 550px;
      top: 500px;
    } 
  }