@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.EditChallenges-main {
  margin: 0%;
  padding-left: 4rem;
  padding-bottom: 5rem;
  margin-top: 2rem;
}

.EditChallenges-head {
  height: 80px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0%;
}

label {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 1.15rem;
  line-height: 60px;
}

.edit-challenge-form-fileds, .edit-challenge-form-select{
  width: 453px;
  height: 39px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding-left: 1rem;
  font-size: 1rem;
}

textarea {
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    padding-top: 1rem;
    padding-left: 0.5rem;
    width: 417px;
  height: 152px;
    font-size: 1.1rem;
  }

  .image-preview>*{
    height: 200px;
    width: 400px;
    margin-bottom: 1rem;
  }

input[type="file"]{
  width: 236px;
  height: 40px;
padding-top: 0.4rem;
}

.edit-challenge-form-select {
  width: 236px;
  height: 39px;
  margin-bottom: 2rem;
}

.edit-challenge-options{
  font-family: "Poppins", sans-serif;
  text-align: start;
}

input[type="text"] {
  line-height: 25px;
}

.EditChallenges-btn {
  width: 100px;
  height: 46px;
  background: #44924c;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .EditChallenges-main {
    padding-left: 1rem;
  }
  
  .edit-challenge-form-fileds, .edit-challenge-form-select{
    width: 300px;
  }
  
  textarea {
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    padding-top: 1rem;
    padding-left: 0.5rem;
    width: 317px;
    height: 132px;
    font-size: 1.1rem;
  }
  
  .image-preview>*{
    height: 150px;
    width: 300px;
    margin-bottom: 1rem;
  }
  
  input[type="file"]{
    width: 236px;
    height: 40px;
  padding-top: 0.4rem;
  }
}

