.listpage-elements {
  position: relative;
}
.ListPage-searchsection {
  padding-top: 1.5rem;
  padding-bottom: 8rem;
  background: rgb(0, 42, 59);
  color: #fff;
}

.ListPage-searchsection > h2 {
  text-align: center;
  font-size: 2rem;
}

.ListPage-searchsection > input[type="text"] {
  position: absolute;
  width: 829px;
  height: 50px;
  left: 180px;
  top: 150px;
  box-shadow: 0px 4px 50px rgba(111, 111, 111, 0.1);
  border-radius: 12px;
  background: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  outline: none;
  font-size: 20px;
  padding-left: 2rem;
}

.listpage-filter {
  position: absolute;
  width: 132px;
  height: 50px;
  left: 1100px;
  top: 150px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 18px;
  line-height: 10px;
  font-family: "Poppins", sans-serif;
  color: #000000;
  padding: 0 1rem;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.dropdown-rotate {
  transform: rotateX(180deg);
  transition: all 0.3s ease-in-out;
}

.listpage-filter-option {
  position: absolute;
  top: 200.2px;
  left: 1100px;
  width: 148px;
  background: #ffffff;
  opacity: 0.9;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  color: #000000;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.listpage-filter-option > h3 {
  line-height: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.listpage-filter-option > label {
  color: #858585;
  line-height: 12px;
  font-size: 15px;
  font-weight: 300;
}

.listpage-filter-option input[type="checkbox"] {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.ListPage-searchsection > input[type="text"]::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #858585;
  background: url("https://static.thenounproject.com/png/101791-200.png")
    no-repeat left;
  background-size: 20px;
  padding-left: 25px;
}

.ListPage-cardsection {
  background: #003145;
  padding: 3rem 0rem;
  display: flex;
  flex-wrap: wrap;
}

.ListPage-card {
  margin-left: 6.2rem;
  margin-bottom: 4rem;
  width: 320px;
  height: 433px;
  background: #ffffff;
  box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  overflow: hidden;
}

.ListPage-card-first {
  height: 40%;
  width: 100%;
}

.ListPage-card-first > img {
  height: 100%;
  width: 100%;
}

.ListPage-card-second {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 10px;
}

.ListPage-card-second > h2 {
  line-height: 0px;
  margin-top: 0.8rem;
}

.ListPage-card-second > p:first-of-type {
  line-height: 0px;
  text-align: center;
  background: rgba(242, 201, 76, 0.25);
  border-radius: 5px;
  padding: 10px;
}

.ListPage-card-second > p:last-of-type {
  font-weight: 600;
}

.ListPage-card-second > button {
  width: 180px;
  height: 42px;
  background: #44924c;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .ListPage-searchsection {
    padding-top: 1.5rem;
    padding-bottom: 18rem;
    background: rgb(0, 42, 59);
    color: #fff;
  }

  .ListPage-searchsection > h2 {
    position: absolute;
    left: 90px;
    text-align: center;
    font-size: 2rem;
  }

  .ListPage-searchsection > input[type="text"] {
    width: 329px;
    height: 50px;
    left: 50px;
    top: 120px;
  }

  .listpage-filter {
    position: absolute;
    left: 152px;
    top: 200px;
  }

  .listpage-filter-option {
    position: absolute;
    top: 241px;
    left: 152px;
  }

  .ListPage-card {
    margin-left: 4.8rem;
    margin-bottom: 4rem;
    width: 300px;
    height: 443px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 481px)  {
  .ListPage-searchsection {
    padding-top: 1rem;
    padding-bottom: 18rem;
    background: rgb(0, 42, 59);
    color: #fff;
  }

  .ListPage-searchsection > h2 {
    position: absolute;
    left: 75px;
    text-align: center;
    font-size: 2rem;
  }

  .ListPage-searchsection > input[type="text"] {
    width: 329px;
    height: 50px;
    left: 36px;
    top: 120px;
  }

  .listpage-filter {
    position: absolute;
    left: 135px;
    top: 200px;
  }

  .listpage-filter-option {
    position: absolute;
    top: 241px;
    left: 135px;
  }

  .ListPage-card {
    margin-left: 2.8rem;
    width: 350px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px)  {
  .ListPage-searchsection {
    padding-top: 1rem;
    padding-bottom: 17rem;
    background: rgb(0, 42, 59);
    color: #fff;
  }

  .ListPage-searchsection > h2 {
    position: absolute;
    left: 90px;
    text-align: center;
    font-size: 2rem;
  }

  .ListPage-searchsection > input[type="text"] {
    width: 329px;
    height: 50px;
    left: 48px;
    top: 115px;
  }

  .listpage-filter {
    position: absolute;
    left: 150px;
    top: 190px;
  }

  .listpage-filter-option {
    position: absolute;
    top: 241px;
    left: 150px;
  }

  .ListPage-card {
    margin-left: 2.8rem;
    width: 350px;
  }
  
}