.challengeDetails-first-div{
    padding:4rem 6rem 6rem 6rem;
    background-color: rgb(0, 49, 69);
    font-family: "Poppins";
    font-style: normal;
    color: #fff;
}

.timer-icon{
    font-size: 1.5rem;
}

.challengeDetails-timer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    color: black;
    background: #FFCE5C;
    border-radius: 5px;
    padding: 0.6rem 2rem;
}

.challengeDetails-first-div>h1{
    line-height: 60px;
}

.challengeDetails-first-div>p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.challengeDetails-first-div>button{
    margin-top: 3rem;
    width: 130px;
    height: 47px;
    background: #ffffff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #003145;
    cursor: pointer;
    border-color: transparent;
}

.level-icon{
    margin-left: -1rem;
    text-align: left;
    padding-right:0.4rem;
}

.challengeDetails-second-div{
    padding: 1rem 6rem 2rem 6rem;
}

.challengeDetails-second-first-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.challengeDetails-second-first-second-box{
    width: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.challengeDetails-second-first-second-box>button{
    width: 90px;
    height: 40px;
    background: #ffffff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    border-color: transparent;
}

.challengeDetails-second-first-first-box>h2{
    text-decoration:underline #44924C 3px;
    text-underline-offset: 5px;
    border-radius: 20px;;
}

.challengeDetails-second-first-second-box>button:first-of-type{
    background: #44924C;
    color: #ffffff;
}

.challengeDetails-second-first-second-box>button:last-of-type{
    border-color: #DC1414;
    color: #DC1414;
}

.challengeDetails-second-second-section>p{
    font-family: "Poppins";
    font-style: normal;
    line-height: 32px;
    text-align: justify;
}

@media screen and (max-width: 480px) {
    .challengeDetails-first-div{
        padding:2rem 1rem;
        width: 100vw;
    }
    
    .timer-icon{
        font-size: 2.8rem;
        margin:0rem 1rem;
    }

    .timer-icon-para{
        text-align: justify;
        width: 100%;
    }
    
    .challengeDetails-timer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding:0.6rem;
    }
    
    .challengeDetails-first-div>h1{
        line-height: 60px;
    }
    
    .challengeDetails-first-div>p{
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
    }
    
    .challengeDetails-first-div>button{
        margin-top: 1.5rem;
    }
    
    .challengeDetails-second-div{
        padding: 1rem;
    }
    
    .challengeDetails-second-first-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .challengeDetails-second-first-second-box{
        margin: 1rem;
        width: 65%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px)  {
    .challengeDetails-first-div{
        padding:2rem 1rem;
        width: 100vw;
    }
    
    .timer-icon{
        font-size: 2.8rem;
        margin:0rem 1rem;
    }

    .timer-icon-para{
        text-align: justify;
        width: 100%;
    }
    
    .challengeDetails-timer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding:0.6rem;
    }
    
    .challengeDetails-first-div>h1{
        line-height: 60px;
    }
    
    .challengeDetails-first-div>p{
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
    }
    
    .challengeDetails-first-div>button{
        margin-top: 1.5rem;
    }
    
    .challengeDetails-second-div{
        padding: 1rem;
    }
    
    .challengeDetails-second-first-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .challengeDetails-second-first-second-box{
        margin: 1rem;
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px)  {
    .challengeDetails-first-div{
        padding:2rem 2rem;
        width: 100vw;
    }
    
    .timer-icon{
        font-size: 2.8rem;
        margin:0rem 1rem;
    }

    .timer-icon-para{
        text-align: justify;
        width: 100%;
    }
    
    .challengeDetails-timer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding:0.6rem;
    }
    
    .challengeDetails-first-div>h1{
        line-height: 60px;
    }
    
    .challengeDetails-first-div>p{
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
    }
    
    .challengeDetails-first-div>button{
        margin-top: 1.5rem;
    }
    
    .challengeDetails-second-div{
        padding: 1rem;
    }
    
    .challengeDetails-second-first-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .challengeDetails-second-first-second-box{
        margin: 1rem;
        width: 22%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}
