.deletemodal-main {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
}

.deletemodal-container {
  position: absolute;
  top: calc((100vh - 25rem) / 2);
  left: calc((100vw - 30rem) / 2);
  border-radius: 5px;
  background-color: white;
  height: 25rem;
  width: 30rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deletemodal-largecross-btn {
  color: #f15e5e;
  position: absolute;
  right: 42%;
  top: 30px;
  font-size: 5rem;
}

.deletemodal-heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  position: absolute;
  right: 29%;
  top: 118px;
  font-size: 1.2rem;
  color: #636363;
}

.deletemodal-paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: center;
  position: absolute;
  right: 9%;
  top: 190px;
  font-size: 1rem;
  color: #9f9999;
}

.deletemodal-button {
  width: 300px;
  position: absolute;
  right: 18%;
  top: 290px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.deletemodal-button > * {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.4s;
  min-width: 120px;
  border: none;
  min-height: 40px;
  margin: 0 5px;
}

.deletemodal-cancel-btn {
  background: #c1c1c1;
}

.deletemodal-cancel-btn:hover {
  background: #a8a8a8;
}

.deletemodal-delete-btn {
  background: #f15e5e;
}

.deletemodal-delete-btn:hover {
  background: #ee3535;
}
